*{text-align: center;
}
.offset{width: 5%; 
        margin: 1%;
}
.textarea{padding: 6%;
}
.corpus{
        background: #dfe6e9;
}
header{
        background: #ffcccc;
        text-align-last: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}