
header{
        text-align-last: center;
        padding: 0%;
        margin: 2%;
}

h1{
        font-family: 'Fredericka the Great';
        color: #4f98ca;
        font-size: 50px; 
        margin: 0%;

}        

header, span{  
        font-family: inherit;
        color: #333333;        
        font-size: 23px;
              
}

main{   margin: 5px;
        background-image: url(./assets/imagenes/secret-key.jpg);
        background-repeat: space;
        border: #7f8c8d;
        text-align: center;
}

.offset{
        border: 1px solid #7f8c8d;
        height: 2.5em;
        width: 54px;
        margin: 1%;        
}

.botones{
        align-self: center;
        width: 90px;
        height: 3em;
        border-radius: 9px;
        background-color: #f4dada;
        font-size: 14px;
        
}
.textarea{     
        height: 20em;
        width: 350px;        
        margin: 1%;
        text-align: left;
        padding: 1%;
        border: 2px solid #7f8c8d;
        font-size: 15px;   
}




        

